@import "fonts.css";
@import "custom";

body{
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  color: $main-color;
  box-sizing: border-box;
  font-family: 'Gilroy', sans-serif;
  background-color: #ffffff;
}

html.overflowed,
html.overflowed body{
  overflow-y: hidden;
}

.slider-navigation{
  pointer-events: none;
  .slider-btn{
    pointer-events: visible;
  }
}

header{
  z-index: 10;
  background-color: rgba(0,0,0, 0);
  transition: background 0.2s linear;

  &.header-dark{
    background-color: rgba(0,0,0, 0.5);
    backdrop-filter: blur(10px);
  }
}
input::placeholder{
  color: white;
  letter-spacing: 1px;
}

.product-category{
  transition: background-color 0.2s linear;
}

.testimonial-user::before{
  position: absolute;
  content: '';
  height: 30px;
  width: 30px;
  background-color: transparent;
  right: -36px;
  top: -3px;
  border-radius: 50%;
  box-shadow: -10px 13px 1px -5px #fff;
}

.testimonial-user::after{
  position: absolute;
  content: '';
  height: 30px;
  width: 30px;
  background-color: transparent;
  left: -36px;
  top: -3px;
  border-radius: 50%;
  box-shadow: 10px 13px 1px -5px #fff;
}





@media (max-width: 768px) {
  header{
    .navigation{
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      left: 0;
      top: 0;
      background-color: rgba(0,0,0, 0.85);
      //backdrop-filter: blur(5px);
      height: 100%;
      width: 100%;
      opacity: 0;
      pointer-events: none;
      visibility: hidden;

      transition: 0.2s linear;
      transition-delay: 0.2s;

      ul li{
        margin-bottom: 30px;
        opacity: 0;
        transform: translateY(10px);
        transition: opacity 0.2s linear, transform 0.2s linear;
        a{
          font-size: 36px;
        }
      }
    }

    &.active{


      .navigation{
        opacity: 1;
        pointer-events: visible;
        visibility: visible;
        transition-delay: 0s;

        ul li{
          opacity: 1;
          transform: translateY(0);
          transition-delay: 0.2s;
        }
      }
    }
  }

}